.address
{
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;

  position: absolute;
  bottom: 5px;
  right: 5px;

  max-width: 80%;
}

.mapboxgl-ctrl-bottom-left
{
  display: none;
}
